.App{
  width: 50%;
  margin:auto;
}
.wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.color1{
  color: green;
}
.color2{
  color:blue;
}
.color3{
  color: red;
}
.footer{
  text-align: center;
  margin-top: 4rem;
}